@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    background: white;
    display:grid;
    padding-bottom: 3px;
    z-index: 2;
    grid-template-columns: 4fr 2fr;
    border-bottom:1px solid #1b1b1b;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -3px;
}

.head button:not(.login){
    justify-content: space-around;
    height: max-content;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.head button:hover:not(.login,.logout){
    scale: 1.05;
    text-decoration:5px underline #8F1717 ;
}

.login{
    background-color: white;
    border: 2px solid #8F1717;
    padding: 6px;
    color: #8F1717;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#main{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#main h2{
    margin-left: 10px;
    margin-top: 5px;
    color: #8F1717;
}

.logo{
    width: 40px;
    height: 35px;
    margin-top: 5px;
    border-radius: 0px;
}

.mode{
    margin-top: -1px;
    width: 20px;
    height: 20px;
    border: none;
}

.profile-dropdown {
    position: relative;
    width: fit-content;
 }
 
 .profile-dropdown-btn img{
     width: 35px;
     height: 35px;
     margin-top: -3px;
     margin-bottom: -5px;
     border: 2px solid #8F1717;
     border-radius: 50%;
 }
 
 .profile-dropdown-btn{
    display: flex;
    cursor: pointer;
    gap: 10px;
 }

 .second {
    padding-top: 5px;
 }

 .profile-dropdown-list {
    position: absolute;
    top: 38px;
    width: max-content;
    right:-10px;
    background-color: #fff;
    border-radius: 5px 0px 0px 5px;
    max-height:0;
    overflow: auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: max-height ease-in-out 0.5s;
 }
 
 .active {
    max-height: 500px;
 }
 
 .profile-dropdown-list-item:not(#bt) {
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
 }
 
 .profile-dropdown-list-item a:not(.logout) {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
 }

 #bt{
    margin-bottom: -3px;
 }
.logout{
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
}
.profile-dropdown-list-item:hover{
    background-color: rgb(236, 236, 236);
    font-size: 0.9rem;
    font-weight: 500;
}
.profile-dropdown-list-item:last-child:hover {
    background-color: red;
}

.profile-dropdown-list-item:last-child:hover a {
    color: white;
}
