@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background: white;
    display:grid;
    padding-bottom: 3px;
    z-index: 2;
    grid-template-columns: 2.5fr 2fr;
    border-bottom:1px solid #1b1b1b;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -3px;
}
.head button:not(.login){
    justify-content: space-around;
    height: max-content;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}  
.head button:hover:not(.login,.logout){
    scale: 1.05;
    text-decoration:5px underline #8F1717 ;
}
.login{
    background-color: white;
    border: 2px solid #8F1717;
    padding: 6px;
    color: #8F1717;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
#main{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#main h2{
    margin-left: 10px;
    margin-top: 5px;
    color: #8F1717;
}
.logo{
    width: 40px;
    height: 35px;
    margin-top: 5px;
}
.mode{
    margin-top: -1px;
    width: 20px;
    height: 20px;
    border: none;
}
footer{
    
    width: 100%;
    background-color: #282828;
}
footer .foot{
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.name{
    display: grid;
    grid-template-columns: 2fr 3.5fr 2fr;
}
div .row1,.row2,.row3,.row4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 35px;
}
.foot h3{
    font-family: serif;
    color: white;
    width: 70px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top:20px;
    margin: 25px;
    margin-left: 70px;
}
.foot .item{
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.foot .itemw{
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-top: 35px;
}
.item :where(a){
    color: white;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
}
footer p{
    color: white;
    text-align: center;
    background-color: #1b1b1b;
    padding: 8px;
}
.name span{
    font-family: serif;
    font-size: 25px;
    font-weight: 300;
    margin-left: 27px;
}
.contact h4{
    padding-top: 25px;
    text-decoration: underline;
    color: white;
    margin-bottom: 15px;
}
.contact img{
    width: 20px;
    height: 20px;   
    margin-bottom: -5px;
}
.cont{
    padding-top: 5px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.cont a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.profile-dropdown {
    position: relative;
    width: fit-content;
 }
 
 .profile-dropdown-btn img{
     width: 35px;
     height: 35px;
     margin-top: -3px;
     margin-bottom: -5px;
     border: 2px solid #8F1717;
     border-radius: 50%;
     object-fit: cover;
 }
 
 .profile-dropdown-list {
    position: absolute;
    top: 38px;
    width: max-content;
    right:-30px;
    background-color: #fff;
    border-radius: 5px 0px 0px 5px;
    max-height:0;
    overflow: auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: max-height ease-in-out 0.5s;
 }
 
 .active {
    max-height: 500px;
 }
 
 .profile-dropdown-list-item:not(#bt) {
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
 }
 
 .profile-dropdown-list-item a:not(.logout) {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
 }

 #bt{
    margin-bottom: -3px;
 }
.logout{
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
}
.profile-dropdown-list-item:hover {
    background-color: rgb(236, 236, 236);
    font-size: 0.9rem;
    font-weight: 500;
}