@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    padding:50px 0px 0px 0px;
    font-size: 60px;
    text-align: center;
}
.join div{
    padding-top: 75px;
    width: 90%;
    margin: 0 auto;
}
body div h2{
    font-size: 40px;
    color: #8F1717;
    margin-bottom: 40px;
}
body div ol{
    padding-left: 75px;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}
.eligible ol ul:not(.profile-dropdown-list){
    margin-top: 20px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 35px;
}
.gn ol{
    margin-bottom: 50px;
}
.join p{
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}
hr{
    width: 95%;
    margin: 70px auto -30px auto;
}