@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.university_pic{
    width: 100%;
    height: 600px;
}
.wrap{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 604px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.wrap h1{
    font-family: 'Montserrat';
    color: white;
    width: 800px;
    text-align: center;
    font-size: 60px;
}
.know_more{
    background-color: #8F1717;
    padding: 10px 15px 10px 15px;
    font-size: 25px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.section2{
    height: 600px;
    background-color:#E3E3E3;
    margin-top: -20px;
}
.section2 h1{
    font-family: 'Montserrat';
    color: #8F1717;
    text-align: center;
    font-size: 70px;
}
.section2 p{
    font-family: 'Montserrat';
    font-size: 35px;
    text-align: center;
    padding: 70px 60px 10px 60px;
    font-weight:300;
}
.know_more{
    border: none;
    background-color: #8F1717;
}
.wrap2{
    padding-top: 7%;
}
.section3{
    height: 600px;
    display: flex;
}
.wrap3{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.section3 img{
    height: 500px;
    margin-left: 40px;
    padding: 20px;
    float: left;
}
.section3 h1{
    padding-right: 50px;
    color: #8F1717;
    text-align: center;
    font-size: 35px;
}
.section3 h2{
    padding-top: 10px;
    padding-right: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.section3 p{
    font-family: 'Montserrat';
    padding-top: 30px;
    line-height: 29px;
    padding-right: 30px;
    font-size: 20px;
}
.map{
    height: 600px;
}
.map>h1{
    text-align: center;
    font-size: 50px;
    color: #8F1717;
    background-color:#e6e4e4;
    font-weight: 600;
}